@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

$main-font: 'Poppins', sans-serif;
$primary-color: #0892A5;
$secondary-color: #2c2c2c;

@mixin set-size($width, $height) {
    width: $width;
    height: $height;
}

body {
    font-family: $main-font;
    color: $secondary-color;

    display: grid;
    grid-template-areas:
    "sidebar content"
    ;

    margin: 0px;
    padding: 0px;

    a {
        text-decoration: none;
        color: $secondary-color;
    }
}

.sidebar {
    grid-area: sidebar;
    height: 100vh;
    width: 200px;
    background-color: #fafafa;
    border-radius: 0px 10px 10px 0px;
    color: $secondary-color;
    
    h1 {
        font-size: 1.5em;
        text-align: center;
        color: $primary-color;
    }
    
    #user-info {
        font-size: 85%;
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        img {
            @include set-size(60px, 60px);
            border-radius: 100%;
        }
    }

    #navigation {
        p {
            padding: 10px 0;
            font-weight: 600;
            &:hover {
                background-color: darkgrey;
            }
        }
        ul {
            padding: 0px;
            list-style-type: none;
            li {

                .dashboard-link {
                    font-size: 1em;
                }

                padding: 10px;

                &:hover {
                    border-left: 5px $primary-color solid;
                }

            }
            i {
                margin: 0 10px;
                @include set-size(20px, 20px)
            }
        }
    }

}


.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: white;
    background-color: $primary-color;
    border-radius: 5px;
    height: 30px;
    padding: 5px 10px;

    &:hover {
        background-color: #06707e;
    }
}

.secondary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: #52a152;
    border: 2px solid #52a152;
    border-radius: 8px;
    height: 20px;
    padding: 5px 10px;
    font-weight: 700;

    &:hover {
        background-color: #52a152;
        a {
            color: white;

        }
    }

    a {
        color: #52a152;
    }
}


.content {
    grid-area: content;
    height: 100vh;
    width: 100%;
    color: $secondary-color;
    overflow: scroll;
}

.top-function-bar {
    display: flex;
    justify-content: flex-end;
    
    height: 60px;
    padding-top: 1em;
    border-bottom: 1px lightgrey solid;
    
    .main-button {
        margin: 5px;
        
        &:last-child {
            margin-right: 2em;
        }
    }

    span {
        color: white;
    }
    
}

.job-details {
    padding: 20px 0;
    table {
        font-size: 90%;
        tr {
            td {
                &:nth-child(odd) {
                    color: $primary-color;
                    text-align: right;
                }
                padding: 0 10px;
            }
        }
    }
    border-bottom: 1px lightgrey dashed;

    .job-title {
        display: flex;
        align-items: center;

        h2 {
            padding-left: 15px;
        }

        div {
            margin-left: 20px;
        }
    }

}


.green-dot {
    @include set-size(20px,20px);
    background-color: green;
    color: green;
    border-radius: 100%;
}

.red-dot {
    @include set-size(20px,20px);
    background-color: red;
    color: red;
    border-radius: 100%;
}

.progression-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    table {
        width: 85vw;
        border-collapse: collapse;
        td {
            padding: 10px;
            font-size: 0.9em;
        }
        
        th {
            text-align: left;
            background-color: lightgrey;
            width: 10vw;
            font-size: 1em;
            padding: 10px;
            font-weight: 600;
        }

        .taken {
            &:hover {
                background-color: $primary-color;
                border-radius: 5px;
                a {
                    color: white;
                }
            }
        }
        
    }

    a {
        text-decoration: none;
        &:visited, &:link {
            color: $secondary-color;
        }

    }

}

#add-prompt {
    font-size: 1em;
    text-align: center;
    padding: 20px;

}

.dashboard-title {
    margin-left: 20px;
}

.candidate-display {
    margin-left: 20px;

    .candidate-action-bar {
        display: flex;
    
        .secondary-button {
            margin: 0 2px;
        }
    
    }

    table {

        td:nth-child(odd) {
            font-weight: 700;
        }

        td:nth-child(even) {
            padding: 0 20px;
        }
    }
}

.job-list-display {
    padding: 3em;
    width: 80vw;

    p {
        &:first-child{
            margin-left: 10px;
        }
        font-size: 1em;
    }

    .details-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70vw;
        font-weight: 500;
        padding: 0 20px;

        &:hover {
            background-color: $primary-color;
            color: white;
        }

        border: 2px solid $primary-color;
        border-radius: 30px;
        box-shadow: 1px 1px 5px lightgrey;

        margin: 10px 0;
    
    }

    .green-dot, .red-dot {
        @include set-size(10px, 10px);
    }
    
}

.add-form {
    width: 85vw;
    padding-left: 5em;
    
    label {
        font-size: 0.9em;
        opacity: 0.9;
    }
    p {
        opacity: 0.7;
    }

    input, textarea, select {
        @include set-size(35vw, 35px);
        border-radius: 5px;
        border: 1px solid lightgrey;
        font-size: 1em;
        padding: 10px;
        margin: 5px 0;
    }

    textarea {
        @include set-size(35vw, 100px)
    }

    .button-class {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        background-color: #52a152;
        color: white;
    }

}

.note-input {
    textarea {
        @include set-size(35vw, 100px);
    }
}

.details-box {
    display: flex;
    width: 70vw;

    .note-details {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    .main-details {
        .secondary-button {
            width: 60px;
            margin-top: 5px;
        }
    }
    .notes-display {
        height: 150px;
        width: 300px;
        overflow: scroll;
        .secondary-button {
            width: 100px;
        }
    }

    .timestamp {
        font-size: 0.8em;
        opacity: 0.8;
    }
}
