
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="job.css">
    
    <title>Hello, world!</title>
  </head>

  <body>
    <div class="sidebar">

      <h1>terminalHRM</h1>

      <div id="user-info">
        <img src="assets/IMG_3679.JPG" alt="user profile picture">
        <p>Username</p>
      </div>

      <div id="navigation">
        <ul>
          <li> Dashboard </li>
          <% @jobs.each do | job | %>
            <li><%=  "Job #{job["id"]}" %></li>
          <% end %>
        </ul>
      </div>

    </div>

    <div class="content" >

      <div class="top-function-bar">
      buttons
      </div>

      <div class="job-details">
      job details
      </div>

      <div class="job-dashboard">
      dashboard
      </div>

      <div class="candidate-profile">
      candidate
      </div>

    </div>
  
  
  </body>
</html>

