<div class="sidebar">

    <h1>terminalHRM</h1>

    <div id="user-info">
        <%= image_tag("IMG_3679.JPG", :alt => "rss feed") %>
        <p>Caleb Leung</p>
    </div>

    <div id="navigation">
        <ul>
            <%= link_to root_path() do %> <li class="dashboard-link"> <i class="fas fa-chalkboard"></i> Dashboard </li> <% end %>
            <li> <i class="fas fa-user-circle"></i> Account </li>
            <li> <i class="fas fa-envelope-square"></i> Communications</li>
            <li> <i class="far fa-file-alt"></i> Reports </li>
            <li> <i class="fas fa-cog"></i> Settings </li>
        </ul>
    </div>

</div>